---
import { getCollection, render } from 'astro:content';
import Layout from './layout.astro';

export async function getStaticPaths() {
  const pages = await getCollection('pages');
  return pages.map((page) => ({
    params: { slug: page.slug === 'index' ? undefined : page.slug },
    props: { page },
  }));
}

const { page } = Astro.props;
const { Content } = await render(page);

const currentPage = page.slug;
---

<Layout currentPage={currentPage}>
  <div class="font-mono text-2xl">
    <Content />
  </div>
</Layout>
