---
import '../styles/global.css';
import Layout from './layout.astro';
---
<Layout>
  <section class="space-y-4">
    <p>
      Hey, I’m Alex Gaudon. I build web stuff.
    </p>
    <p>
      Right now I write code for risk folks over at
      <a
        href="https://www.clearrisk.com"
        class="text-blue-400 hover:underline"
        target="_blank"
        rel="noopener noreferrer"
      >ClearRisk</a>
      and building <a
        href="https://github.com/AlexGaudon/tallyo"
        class="text-blue-400 hover:underline"
        target="_blank"
        rel="noopener noreferrer"
        transition:name="tallyo"
      >Tallyo</a> in my free time.
    </p>
    <p>
      This site has a few of my
      <a
        href="/projects"
        class="text-blue-400 hover:underline"
      >projects</a>
      and some ramblings about tech
      <span class="text-stone-400 italic">(yeah, maybe a blog eventually)</span>.
    </p>
    <p>
      Want to say hi? I’m usually hanging out Thursdays at
      <a
        href="https://ctsnl.ca/"
        class="text-blue-400 hover:underline"
        target="_blank"
        rel="noopener noreferrer"
      >CTSNL</a>
      meetups:
      <span class="text-stone-300">Thursdays @ 7:00pm, Jumping Bean, Elizabeth Ave.</span>
    </p>
  </section>
</Layout>