---
import "../styles/global.css";
import Layout from "./layout.astro";
---
<Layout>
  <section class="space-y-6">
    <div class="border-2 border-white p-4 bg-[#0a0a0a]">
      <p class="text-xl">Hey, I'm Alex Gaudon. I build web stuff.</p>
    </div>
    
    <div class="border-2 border-white p-4">
      <p>
        Software Dev @
        <a
          href="https://www.colabsoftware.com"
          target="_blank"
          rel="noopener noreferrer"
        >CoLab Software</a>
      </p>
    </div>
    
    <div class="border-2 border-white p-4">
      <p>
        Building 
        <a
          href="https://github.com/AlexGaudon/tallyo"
          target="_blank"
          rel="noopener noreferrer"
          transition:name="tallyo"
        >Tallyo</a> in my free time.
      </p>
    </div>
    
    <div class="border-2 border-white p-4">
      <p>
        Prev Software Dev @
        <a
          href="https://www.clearrisk.com"
          target="_blank"
          rel="noopener noreferrer"
        >ClearRisk</a>
      </p>
    </div>
    
    <div class="border-2 border-white p-4">
      <p>
        This site has a few of my
        <a href="/projects">projects</a>
      </p>
    </div>
  </section>
</Layout>