---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="animate-rise space-y-10">
    <div class="space-y-4">
      <h1 class="text-4xl font-semibold tracking-tight text-[var(--text)] sm:text-5xl">
        Hey, I&apos;m <span class="text-[var(--accent)]">Alex Gaudon</span>.
      </h1>
      <p class="max-w-xl text-lg leading-relaxed text-[var(--text-muted)]">
        I build web stuff, and I like keeping up with health &amp; fitness when I&apos;m not working.
      </p>
    </div>

    <div class="experience animate-rise animate-rise-delay-1">
      <p class="experience__label">Experience</p>
      <ul class="experience__list">
        <li class="experience__row">
          <div class="experience__main">
            <div class="experience__avatar" aria-hidden="true">
              <img src="/colab.png" alt="" width="36" height="36" loading="lazy" decoding="async" />
            </div>
            <p class="experience__line">
              <a class="experience__company" href="https://www.colabsoftware.com">CoLab Software</a>
              <span class="experience__role">Software Developer</span>
            </p>
          </div>
          <span class="experience__dates">Dec 2025 - Current</span>
        </li>
        <li class="experience__row experience__row--past">
          <div class="experience__main">
            <div class="experience__avatar" aria-hidden="true">
              <img src="/clearrisk.png" alt="" width="36" height="36" loading="lazy" decoding="async" />
            </div>
            <p class="experience__line">
              <a class="experience__company" href="https://www.clearrisk.com">ClearRisk</a>
              <span class="experience__role">Software Developer</span>
            </p>
          </div>
          <span class="experience__dates">Jan 2021 - Nov 2025</span>
        </li>
      </ul>
    </div>

    <div class="projects-home animate-rise animate-rise-delay-1">
      <p class="experience__label">Projects</p>
      <ul class="experience__list">
        <li class="experience__row projects-home__row">
          <div class="experience__main projects-home__main">
            <div class="experience__avatar experience__avatar--tallyo" aria-hidden="true">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                aria-hidden="true"
              >
                <path
                  d="M19 7V4a1 1 0 0 0-1-1H5a2 2 0 0 0 0 4h15a1 1 0 0 1 1 1v4h-3a2 2 0 0 0 0 4h3a1 1 0 0 0 1-1v-2a1 1 0 0 0-1-1"
                ></path>
                <path d="M3 5v14a2 2 0 0 0 2 2h15a1 1 0 0 0 1-1v-4"></path>
              </svg>
            </div>
            <div class="projects-home__body">
              <p class="projects-home__title">
                <a class="experience__company" href="https://github.com/AlexGaudon/tallyo">Tallyo</a>
              </p>
              <p class="projects-home__desc">
                My take on a personal finance tracker, since
                <a
                  class="projects-home__inline-link"
                  href="https://en.wikipedia.org/wiki/Intuit_Mint#Shut_down"
                  target="_blank"
                  rel="noopener noreferrer"
                >Mint</a> ran out of money.
              </p>
            </div>
          </div>
          <a
            class="experience__dates projects-home__link"
            href="https://github.com/AlexGaudon/tallyo"
            target="_blank"
            rel="noopener noreferrer"
          >
            GitHub
          </a>
        </li>
        <li class="experience__row projects-home__row">
          <div class="experience__main projects-home__main">
            <div class="experience__avatar experience__avatar--misery" aria-hidden="true">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="18"
                height="18"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                aria-hidden="true"
              >
                <rect x="3" y="5" width="18" height="11"></rect>
                <path d="M1 18h22"></path>
              </svg>
            </div>
            <div class="projects-home__body">
              <p class="projects-home__title">
                <a class="experience__company" href="https://misery.systems">misery.systems</a>
              </p>
              <p class="projects-home__desc">
                Where I mess around with my homelab (yeah, it&apos;s really called &quot;misery.systems&quot;).
              </p>
            </div>
          </div>
          <a
            class="experience__dates projects-home__link"
            href="https://misery.systems"
            target="_blank"
            rel="noopener noreferrer"
          >
            Site
          </a>
        </li>
      </ul>
    </div>
  </section>
</Layout>
