---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="flex flex-col gap-[var(--section-divider-gap)]">
    <div class="space-y-3">
      <h1 class="text-4xl font-semibold tracking-tight text-[var(--text)] sm:text-5xl">
        Hey, I&apos;m <span class="text-[var(--accent)]">Alex Gaudon</span>.
      </h1>
      <p class="max-w-xl text-lg leading-relaxed text-[var(--text-muted)]">
        I build web stuff, and I like keeping up with health &amp; fitness when I&apos;m not working.
      </p>
    </div>

    <div class="experience">
      <p class="experience__label">Experience</p>
      <ul class="experience__list">
        <li class="experience__row">
          <div class="experience__main">
            <div class="experience__avatar" aria-hidden="true">
              <img src="/colab.png" alt="" width="36" height="36" loading="lazy" decoding="async" />
            </div>
            <p class="experience__line">
              <a class="experience__company" href="https://www.colabsoftware.com">CoLab Software</a>
              <span class="experience__role">Software Developer</span>
            </p>
          </div>
          <span class="experience__dates">Dec 2025 - Current</span>
        </li>
        <li class="experience__row">
          <div class="experience__main">
            <div class="experience__avatar" aria-hidden="true">
              <img src="/clearrisk.png" alt="" width="36" height="36" loading="lazy" decoding="async" />
            </div>
            <p class="experience__line">
              <a class="experience__company" href="https://www.clearrisk.com">ClearRisk</a>
              <span class="experience__role">Software Developer</span>
            </p>
          </div>
          <span class="experience__dates">Jan 2021 - Nov 2025</span>
        </li>
      </ul>
    </div>

    <div class="projects-home">
      <p class="experience__label">Projects</p>
      <ul class="experience__list">
        <li class="experience__row projects-home__row">
          <div class="experience__main projects-home__main">
            <div class="projects-home__body">
              <p class="projects-home__title">
                <a class="experience__company" href="https://github.com/AlexGaudon/tallyo">Tallyo</a>
              </p>
              <p class="projects-home__desc">
                My take on a personal finance tracker, since
                <a
                  class="projects-home__inline-link"
                  href="https://en.wikipedia.org/wiki/Intuit_Mint#Shut_down"
                  target="_blank"
                  rel="noopener noreferrer"
                >Mint</a> ran out of money.
              </p>
            </div>
          </div>
          <a
            class="experience__dates projects-home__link"
            href="https://github.com/AlexGaudon/tallyo"
            target="_blank"
            rel="noopener noreferrer"
          >
            GitHub
          </a>
        </li>
        <li class="experience__row projects-home__row">
          <div class="experience__main projects-home__main">
            <div class="projects-home__body">
              <p class="projects-home__title">
                <a class="experience__company" href="https://misery.systems">misery.systems</a>
              </p>
              <p class="projects-home__desc">
                Where I mess around with my homelab (yeah, it&apos;s really called &quot;misery.systems&quot;).
              </p>
            </div>
          </div>
          <a
            class="experience__dates projects-home__link"
            href="https://misery.systems"
            target="_blank"
            rel="noopener noreferrer"
          >
            Site
          </a>
        </li>
      </ul>
    </div>
  </section>
</Layout>
