---
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";

const currentPath = Astro.url.pathname;
const currentPage =
	currentPath === "/"
		? "index"
		: currentPath.replace(/^\//, "").replace(/\/$/, "");
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	</head>
	<body class="bg-black text-white font-mono min-h-screen">
		<Navbar  currentPage={currentPage} />
		<div class="w-full px-3 py-6 sm:px-6 sm:py-8 text-base sm:text-2xl">
			<div class="terminal-output text-gray-600 dark:text-gray-300 text-sm sm:text-base">
				<span class="text-green-400">guest@alexgaudon.dev</span>:<span class="text-blue-400">~/{currentPage}</span>$ cat {currentPage}.md
			</div>
			<div class="px-3 py-6 mt-3 sm:px-4 sm:py-8 sm:mt-4 font-mono text-base sm:text-2xl">
				<slot />
			</div>
		</div>
		<footer class="px-3 py-6 sm:px-4 sm:py-8 text-sm sm:text-lg text-gray-500 flex flex-wrap gap-2 sm:gap-4 justify-center sm:justify-start">
			<a href="https://github.com/AlexGaudon" class="hover:text-white">GitHub</a>
			<a href="https://www.linkedin.com/in/alexgaudon/" class="hover:text-white">LinkedIn</a>
			<a href="mailto:hello@alexgaudon.dev" class="hover:text-white">Email</a>
		</footer>
	</body>
</html>