---
import Link from "../components/Link.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="space-y-3 text-lg" style="color:var(--cat-text);">
    <p><span style="color: var(--cat-teal)"><Link href="https://github.com/AlexGaudon/tallyo">Tallyo</Link></span> – My take on a personal finance tracker, since <span style="color: var(--cat-blue)"><Link href="https://en.wikipedia.org/wiki/Intuit_Mint#Shut_down">Mint</Link></span> ran out of money.</p>
    <p><span style="color: var(--cat-teal)"><Link href="https://github.com/AlexGaudon/overs.sh">overs.sh</Link></span> – Super simple file transfer between servers over SSH. Dead easy.</p>
    <p><span style="color: var(--cat-teal)"><Link href="https://misery.systems">misery.systems</Link></span> – Where I mess around with my homelab (yeah, it's really called "misery.systems").</p>
    <p><span style="color: var(--cat-teal)"><Link href="https://github.com/AlexGaudon/stocky">stocky</Link></span> – A Discord bot that spits out stock prices on command.</p>
    <p><span style="color: var(--cat-teal)"><Link href="https://github.com/alexgaudon/ntfy-bridge">ntfy-bridge</Link></span> – Bridges Discord and <span style="color: var(--cat-blue)"><Link href="https://ntfy.sh">ntfy.sh</Link></span> so you can get notifications wherever you want.</p>
    <p><span style="color: var(--cat-teal)"><Link href="https://github.com/alexgaudon/lootsheet">LootSheet</Link></span> – A simple group hunting loot splitter for Tibia.</p>
  </div>
</Layout>
