---
import Layout from './layout.astro';
---

<Layout>
  <h1 class="text-2xl font-bold mb-6">Uses</h1>
  
  <div class="space-y-6">
    <div>
      <h2 class="text-xl font-semibold mb-3">Devices</h2>
      <ul class="list-disc list-inside space-y-1 text-stone-400">
        <li>M1 Pro MacBook Pro (14")</li>
        <li>iPhone Air</li>
        <li>11" M1 iPad Pro</li>
        <li>Apple Watch Series 10</li>
        <li>RingConn Gen 2</li>
      </ul>
    </div>

    <div>
      <h2 class="text-xl font-semibold mb-3">Peripherals</h2>
      <ul class="list-disc list-inside space-y-1 text-stone-400">
          <li>ASUS ProArt PA279CV</li>
        <li>Apple Magic Trackpad</li>
        <li>Apple Magic Keyboard</li>
        <li>Logitech C920s Webcam</li>
      </ul>
    </div>

    <div>
      <h2 class="text-xl font-semibold mb-3">Workspace</h2>
      <ul class="list-disc list-inside space-y-1 text-stone-400">
        <li>32"x50" Staples Special™ Desk (not listed anymore)</li>
        <li>Ikea Markus Chair</li>
      </ul>
    </div>
  </div>
</Layout>
